* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #fff;
}

main {
  margin: auto;
  width: 50%;
  padding: 10px;
}

main > h1 {
  text-align: center;
  font-size: 3.5em;
}

div{
  background-color: aliceblue;
}